<html>
<head>
    <title>Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <form action="http://localhost:5050/post.php" method="post">
            <label for="name"> Name: </label>
            <input type="text" name="name"><br>
            <label for="age"> Age: </label>
            <input type="text" name="age"><br>
            <label for="job"> Job: </label>
            <input type="text" name="job"><br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>
</html>
